.app {
  background-color: #292929;
  min-height: 100vh;
  padding-top: 2vh;
}

.loading {
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingImg {
  height: 50px;
  width: 50px;
}

.upload, .detect {
  display: flex;
  justify-content: center;
}

.detect {
  visibility: hidden;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.uploadPhoto {
  display: none;
}

.images {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2vh;
}

.image {
  max-width: 45%;
}

.output {
  max-width: 45%;
  margin-left: 10%;
}
